{% load static %}
<!doctype html>
<html lang="de">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'django.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <script src="https://kit.fontawesome.com/3f4afa3027.js" crossorigin="anonymous"></script>
    </head>

    <body>
        {% include 'navbar.html' %}
        <div class="container my-3">
            {% include 'message.html' %}
            {% block content %}{% endblock %}
            {% block modals %}{% endblock %}
        </div>
    </body>

    <script>
        var banner_dark = "{% static 'banner_dark.gif' %}";
        var banner_light = "{% static 'banner_light.gif' %}";
    </script>
    <script type="text/javascript" src="{% static 'django.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</html>
